@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #082c45;
  --color-primaryGradient: #08447d;
  --color-btn: #3fa3ec;
  --color-date: #f9d515;
  --color-white: #fff;
  --color-bgwhite: #fff;
  --color-black: #000;
  --color-gray-100: #eeeded;
  --color-gray-200: #cacaca;
  --color-border: #666666;
  --color-textprimary: #013362;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
